<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-sm-4" style="text-align: left;">
            <span style="font-size: 26px;">All Items</span>
        </div>
        <div class="col-sm-4" style="text-align: center;" *ngIf="itemName != ''">
            
            <button class="btn btn-success">{{itemName}} is added to cart</button>
        </div>
        <div class="col-sm-4" style="text-align: right;">
            <button class="btn btn-primary" style="background-color: #067eff; 
            color: #f8f9fa;" (click)="onNavigateToCart()" matBadgeColor="accent" mat-raised-button matBadge="{{itemObj.length}}"
                matBadgePosition="after">Go to cart</button>
        </div>
    </div>
    <hr>
    <div style="margin-top: 20px" class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let item of cartItems" style="padding: 14px;">
            <div class="product-grid" style="height: 200px;">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="{{item?.img_url}}">
                    </a>
                    <span class="product-new-label" *ngIf="item?.discount > 0">{{item?.discount}}% off </span>
                </div>
                <div class="product-content">
                    <h3 class="title">{{item?.name}}</h3>
                    <div class="price">$ {{(item?.price)-((item?.price/100) * item?.discount)}}
                        <span>${{item?.price}}</span>
                    </div>
                    <button class="btn btn-primary add-to-cart" type="button"
                        style="background-color: #fff; color: #007bff;" (click)="onAddItem(item)">Add to
                        cart</button>
                </div>
            </div>
        </div>
        <!-- <div *ngFor="let item of cartItems" class="col-sm-3" style="border-radius: 4px;
        box-shadow: 0px 1px 3px 0px;
        border: 1px solid #f4f4f4;
        padding: 15px;margin-bottom: 10px;margin: 24px 35px;">
            <div style="text-align: center; height: 100px;">
                <img src="{{item?.img_url}}">
            </div>
            <div>
                <div style="float:left;">
                    <span>{{item?.name}}</span>
                </div>
                <div>
                    <span>{{item?.price}}</span>
                    <button class="btn btn-primary" style="float: right; background-color: #fff; color: #007bff;">Add to
                        cart</button>
                </div>
            </div>
        </div> -->
    </div>
</div>